@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}
Link{
  transition: .3s ease-in;
}
nav{
  position: fixed;
  z-index: 10;
  width: 100%;
  opacity: 100%;

}
.makeImageCircular {
  border-radius:100%;
  width: 350px;
  height: 350px;
}
.makeImageCircularContact {
  border-radius:100%;
  width: 100px;
  height: 100px;
}
/* h1{
  position: relative;
 
}
h2{
  position: relative;
  
}
h3{
  position: relative;
  align-content: center;
  width: 50vw;
  height: 20vh;
  text-wrap: wrap;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
} */


@media only screen and (max-width: 768px) { 
  #menu1 { 
    display: none; 
  } 
  #menu2{
    display: block;
  }
  h3{
    position: relative;
    width: 100%;
    text-wrap: wrap;
    text-align: justify;
  
  }
}

@media only screen and (min-width: 769px) { 
  #menu1 { 
    display: block; 
  } 
  #menu2{
    display: none;
  }
}
