@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}
homeImage{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
nav{
  position: fixed;
  z-index: 10;
  width: 100%;
  opacity: 100%;

}
h1{
  position: relative;
  height: 30vh;
  align-content: center;
  width: 70vw;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
h2{
  position: relative;
  
}
h3{
  position: relative;
  align-content: center;
  width: 50vw;
  height: 50vh;
  text-wrap: wrap;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
}
